# ============================================================
# NODE
# ============================================================

node_modules/
npm-debug.log*
*.log


# ============================================================
# VARIABLES / SECRETOS
# ============================================================

# Permitimos solamente los ejemplos
!.env.example
!.env.development.example
!.env.production.example


# ============================================================
# WHATSAPP - SESION PRIVADA
# ============================================================

.wwebjs_auth/
.wwebjs_cache/


# ============================================================
# BUILD
# ============================================================

dist/
build/


# ============================================================
# SISTEMA
# ============================================================

.DS_Store
Thumbs.db