# Node
node_modules/
npm-debug.log*
*.log

# Entornos / secretos reales
!.env.example
!.env.development.example
!.env.production.example

# Sesión privada de WhatsApp
.wwebjs_auth/
.wwebjs_cache/

# Builds
dist/
build/

# Sistema
.DS_Store
Thumbs.db
